
body{text-align: center;padding:0 ; margin:0 auto;width: 100%；}
li{list-style:none;}
img{border:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
div{margin:0 auto;border:0;text-align: left;background-color: #f8f7f3;}

.thebody{background: #f8f7f3;
	width: 1024px;
	overflow: hidden;}

#top{width:1024px;position: relative;}
.top_main{;width: 800px;}

.top_banner li{float:left;}

.top_banner .logo1{margin-top:36px;margin-left: 60px;}
.top_banner .logo2{margin-top: 30px;padding-left: -16px;}
/*.top_menu .kind{padding-left: 230px;margin}
/*.top_menu .a{margin-top: 30px;}
.top_menu .b{margin-top: 30px;}
.top_menu .c{margin-top: 30px;}
.top_menu .d{margin-top: 30px;}
.top_menu .e{margin-top: 30px;}
.top_menu .f{margin-top: 30px;}
.top_menu .g{margin-top: 30px;}*/
.top_menu li{float: left;padding-left: 20px;margin-top: 10px;padding:20px;writing-mode:tb-rl;}
.top_menu li span{font-family: 'Calibri';}
.top_menu .word{padding-left: 160px;margin-top: -20px;}
.top_menu .first{margin-left: -60px;}

.top_menu a{color:#7b7b7b;/*writing-mode:tb-rl;*/font-size: 14px;line-height: 12px;}
.top_menu a:hover{color:#f04948;}
.top_menu span:hover{color: #f04948;}


#top2{width: 1024px;}
.cata li{float: left;}
.cata .picture1{margin-top: -18px;margin-left:-38px;width: %100;}



#main{/*background:#f8f7f3;*/width: 1024px;
	   overflow: hidden;
	}
#main{background:#f8f7f3;
		width: 1024px;
	   overflow: hidden;
	}
.middle{
	background-color:#ffffff;
		width: 644px;
	    margin-top: -50px;}
.middle p{
	color: #7a7979;
	font-family: '宋体';
	font-weight: bold;
	font-size: 10px;}
span{font-size: 14px;
	color: #7a7979;
	font-family: '宋体';
	font-weight: bold;
}

.one{background:#ffffff;
	width: 644px;
	height: 133px;
		overflow: hidden;
		margin-top: 100px;
		position: relative;
	}
.one ul li{float: left;
			margin-top: -20px;
		}
.drink .p1{margin-left: -40px;}
.drink .d_tea{padding-left: 100px;margin-top: 30px;}
.drink .p2{margin-left: 38px;}



.picture1 .A{
			margin-left: -273px;
			margin-top: 90px;}
.picture1 .B{margin-top: -30px;
			margin-left: 236px;}


.friend{width: 644px;
		display:inline;
	}

.two{width: 190px;
	background:#ffffff;
	overflow: hidden;
	display: inline;
	float: left;
	margin-left: 0px;
}



.kindtea .k_tea{margin-left:-30px;
	         margin-top:30px;}
.kindtea .p3{margin-left: -36px;
	        padding-top: -4px;}
.picture2 .p5{margin-left:38px;
			padding-top: 30px;
		}

.three{
	margin-left: 20px;
background: #ffffff;
	display: inline;
	float: left;
    padding-top: -25px;
    margin-left: -20px;
}
.chat .p4{margin-top: -20px;
			margin-left: -40px;}


.chat .com{padding-top: 30px;
			}


.four{overflow: hidden;
		background: #ffffff;
		width: 164px;}
.sharespace .share{margin-left: -30px;
					margin-top: 20px;}
.sharespace .p5{margin-left: -40px;
	padding-top: 30px;
				}

.methodway{width: 1024px;
	/*background: #f8f7f3;*/
	overflow: hidden;
	position: relative;}
.method li{float: left;}
.method span{font-size: 14px;color: #494848;}
.method p{font-size: 12px;color: #494848;}
.method .p10{margin-left: 150px;margin-top: -60px;}
.method .p11{margin-left: 150px;margin-top: -54px;}
.method .p12{margin-top: -14px;padding-left: 30px;line-height: 20px;}








.sort{overflow: hidden;
	padding-top: 0px;
	position: relative;
	width: 1024px;}
.sort li{float: left;}
.sort li a{font-family: '微软雅黑';color: #494848;font-size:14px;line-height: 14px;font-weight: bold; }
.sort li a:hover{color: #ec6941;}

.sort_way1{float: left;margin-left: 160px;padding-top: 20px;}
.sort_way1 .p13{padding}
.date1{padding-left: 298px;font-family: '宋体';color: #494848;font-size: 14px;font-weight: bold;}

.sort_way2 {margin-left: 160px;float: left;margin-top: -10px;}
.sort_way2 .p14{}
.date2{padding-left: 270px;font-family: '宋体';color: #494848;font-size: 14px;font-weight: bold;}

.sort_way3 {margin-left: 160px;float: left;margin-top: -10px;}
.sort_way3 .p15{}
.date3{padding-left: 280px;font-family: '宋体';color: #494848;font-size: 14px;font-weight: bold;}

.sort_way4 {margin-left: 160px;float: left;margin-top: -10px;}
.sort_way4 .p16{}
.date4{padding-left: 286px;font-family: '宋体';color: #494848;font-size: 14px;font-weight: bold;}

.sort_way5 {margin-left: 160px;float: left;margin-top: -10px;}
.sort_way5 .p17{}
.date5{padding-left: 280px;font-family: '宋体';color: #494848;font-size: 14px;font-weight: bold;}

.sort_way6 {margin-left: 160px;float: left;}
.sort_way6 .p18{}

.p9{margin-left: 700px;}
.sort_way {margin-left: 784px;padding-top: 0px;}





#use{width: 1024px;/*background-color: #f8f7f3;*/
	overflow: hidden;}
.buy li{float: left;}
.buy .buy1{margin-left: 160px;}

.choose li{float: left;}
.choose li a{font-size: 14px;line-height: 14px;color: #494848;font-weight: bold;}
.choose li p{font-family: '宋体';font-size: 12px;line-height: 14px;color: #494848;font-weight: normal;}
.choose a:hover{color: #ef1414;}
.choose .buy2{margin-left: 160px; margin-top: 10px;}
.choose .buy3{margin-top: 18px;padding-left:  76px;}
.choose .buy4{margin-top: 10px;padding-left: 76px;}
.choose .p9{margin-left: 700px;padding-top: 0px;}



.end{width: 1024px;
	height:120px;/*overflow: hidden;*/
	background: #616161;
	margin:-14px auto;
	position: relative;}

.bpttom{}
.last li{float: left;}
.last li a{color: #ffffff;font-size:8px;}

.last .last1{margin-left: 160px;padding-top: 10px;}
.last .last2{padding-left: 30px;padding-top: 10px;}
.last .last3{padding-top: 10px;padding-left: 50px;}
.last .last4{padding-left: 100px; padding-top: 20px;}

form{float: left;}
input.write{margin-top: 36px;
	margin-left:40px;
	background:#616161;
	border:1px solid #b7b6b6; 
	outline: none;}
input.search{margin-left: -40px;
				margin-top: 20px;
             outline: none;}